// Theme colors
@import './theme-vars/colors.scss';

// All of bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.row {
  margin: 1rem 0;
}
