<template>
    <b-card title="About Alex Holms" tag="article" class="my-2">
        <b-card-text>
            <img src="@/assets/images/superlinkx-logo-2x.png" alt="Alex Holms" />
            <p>
                Alex Holms is a software engineer with over nine years of professional experience. She got her start
                with web development in high school; teaching herself HTML and later taking a class to learn CSS,
                JavaScript, and Flash.
            </p>
            <p>
                Alex continued to learn web development best practices in college, picking up PHP, AJAX, and a few
                frameworks along the way. At the beginning of her professional career, she created Project Helium, a web
                game based on the then new HTML5 web standards. You can play her game on this very website.
            </p>

            <p>
                When Alex isn't busy working on code projects, you can find her experimenting with new technology and
                personal project ideas. Her curiosity and passion for technology fuels her creativity and innovation on
                professional projects. Alex deeply believes in writing quality, maintainable code that is well
                documented so it can be as flexible in the future as possible.
            </p>
        </b-card-text>
        <b-card-footer class="text-center">
            <b-button href="downloads/fullstack_resume.pdf" target="_blank">Full Stack Engineer Resume</b-button>
            <b-button href="downloads/devops_resume.pdf" target="_blank">DevOps Engineer Resume</b-button>
        </b-card-footer>
    </b-card>
</template>

<style lang="scss" scoped>
img {
    max-width: 40%;
    float: left;
    margin-right: 2rem;
}
</style>
