<template>
    <b-row>
        <b-col class="text-center">
            <b-img-lazy class="logo" src="@/assets/images/superlinkx-logo-cropped.svg" />
        </b-col>
    </b-row>
</template>

<style lang="scss" scoped>
.logo {
    @media (max-width: 767px) {
        max-width: 75%;
    }
}
</style>
