<!--
  -- My customized Bootstrap Vue Carousel Component
  -- Originally used for the Code Carousel on my Portfolio
  -- Requires an array of slide data for the property "slides"
  -- See Validator for required properties
  -->
<template>
    <b-carousel id="my-carousel" variant="primary" :interval="4000" controls indicators>
        <b-carousel-slide v-for="slide in slides" :key="slide.name">
            <template slot="img">
                <picture>
                    <!-- TODO: Make 2x versions for each slider size -->
                    <source media="(max-width: 480px)" :srcset="slide.srcsetSmall" />
                    <source media="(max-width: 767px)" :srcset="slide.srcsetMedium" />
                    <source media="(min-width: 768px)" :srcset="slide.srcsetLarge" />
                    <img class="img-responsive" :src="slide.img" :alt="slide.name" />
                </picture>
            </template>
            <a :href="slide.slideLink">
                <h3>{{ slide.name }}</h3>
            </a>
        </b-carousel-slide>
    </b-carousel>
</template>

<script>
export default {
    props: {
        slides: {
            // Validates that our array of slides include all required properties
            validator(slides) {
                return (
                    slides !== undefined &&
                    slides.length !== 0 &&
                    slides.every(slide => {
                        if (
                            'name' in slide &&
                            'img' in slide &&
                            'srcsetSmall' in slide &&
                            'srcsetMedium' in slide &&
                            'srcsetLarge' in slide &&
                            'slideLink' in slide
                        ) {
                            return true
                        }

                        return false
                    })
                )
            },
        },
    },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/theme-vars/colors.scss';

/deep/ .carousel-caption {
    background: rgba(255, 255, 255, 0.7);
    transition: opacity ease 600ms;
    padding: 1rem;

    &:hover {
        opacity: 0.7;
    }
    & * {
        color: $dark;
    }
    > a:hover {
        text-decoration: none;
    }

    h3 {
        margin-bottom: 0;
        @media (max-width: 767px) {
            font-size: 1rem;
        }
    }
}

/deep/ .carousel-indicators,
/deep/ .carousel-control-prev,
/deep/ .carousel-control-next {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.2;
    margin-bottom: 0;
    transition: opacity ease 600ms;

    &:hover {
        opacity: 1;
    }
}

.img-responsive {
    width: 100%;
}
</style>
