/* Copyright 2011 Alex Holms <superlinkx@gmail.com>
*
*	MIT License:
*	
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
* files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy,
* modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software
* is furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
* DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*Main Stylesheet*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Regular'), local('Ubuntu'), url('fonts/ubuntu/ubuntu-regular.ttf') format('truetype');
}
body {
    background-color: #929292;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}
a {
    /*float: left;
display: block;
width: 175px;
text-align: center;
border: 2px solid;
border-color: #e1e1e1;
border-radius: 5px;
-moz-border-radius: 5px;
background-color: #7e3f3f;
text-decoration: none;
color: #e1e1e1;
margin-right: 10px;
font-family: 'VT323', sans-serif;*/
    text-decoration: none;
    color: black;
}
/*a:hover
{
color: #c2c2c2;
}
*/
#body {
    position: relative;
    background-color: #c2c2c2;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 1) 0px 15px 60px 0px;
}
#canvasContainer {
    position: relative;
    width: 480px;
    height: 800px;
    margin: 0 auto;
}
#helium {
    position: relative;
    text-align: center;
    margin: 0px auto;
    cursor: pointer;
}
#restart {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#pause {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#stats {
    width: 480px;
    text-align: center;
    margin: 0 auto;
}
#sub {
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
}
p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#info {
    display: block;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}
#info li {
    display: inline;
}
#info li a {
    color: blue;
}
.button {
    float: left;
    border: solid;
    border-color: #8f8f8f;
    background-color: #8f8f8f;
    color: #f00;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
    height: 45px;
    margin: 10px 57px;
    line-height: 45px;
}
.button a {
    color: #c0c0c0;
    display: block;
    width: inherit;
    height: inherit;
}
