<template>
    <main>
        <b-navbar toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand to="/">
                <img class="logo-icon" src="@/assets/images/superlinkx-logo.png" />
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item to="about">About Alex Holms</b-nav-item>
                    <b-nav-item to="code">Code Examples</b-nav-item>
                    <b-nav-item href="https://pm.superlinkx.dev" target="_blank">Project Motorcyle Demo</b-nav-item>
                    <b-nav-item href="/project-helium" target="_blank">Play Project Helium</b-nav-item>
                    <b-nav-item href="https://blog.superlinkx.dev">Alex's Tech Blog</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <nuxt />
    </main>
</template>

<style lang="scss" scoped>
.logo-icon {
    border-radius: 50%;
    border: #222222;
    background: white;
    width: 2rem;
}
</style>
