<template>
    <b-container>
        <AboutMe />
    </b-container>
</template>

<script>
import AboutMe from '~/components/AboutMe'
export default {
    components: {
        AboutMe,
    },
}
</script>

<style lang="scss" scoped></style>
