<template>
    <b-container>
        <b-row>
            <b-col offset-xl="3" xl="6" offset-lg="1" lg="10">
                <article>
                    <h1 class="text-center">Portfolio List</h1>
                    <ul>
                        <li v-for="project in projects" :key="project.name">
                            <h2>
                                <span class="name">{{ project.name }}</span>
                                <span class="code-link"> | <a :href="project.codeLink">Code</a></span>
                                <span class="live-link" v-if="project.liveLink">
                                    | <a :href="project.liveLink">Live</a></span
                                >
                            </h2>
                        </li>
                    </ul>
                </article>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="text-center">
                <article>
                    <h1>Code Examples</h1>
                    <MyCarousel :slides="projects" />
                </article>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import MyCarousel from '~/components/MyCarousel'
import portfolioSiteLarge from '@/assets/images/slides/portfolio-site-large.png'
import portfolioSiteMedium from '@/assets/images/slides/portfolio-site-medium.png'
import portfolioSiteSmall from '@/assets/images/slides/portfolio-site-small.png'
import portfolioLarge from '@/assets/images/slides/portfolio-large.png'
import portfolioMedium from '@/assets/images/slides/portfolio-medium.png'
import portfolioSmall from '@/assets/images/slides/portfolio-small.png'
import quickmailerLarge from '@/assets/images/slides/quickmailer-large.png'
import quickmailerMedium from '@/assets/images/slides/quickmailer-medium.png'
import quickmailerSmall from '@/assets/images/slides/portfolio-small.png'
import movieProjectLarge from '@/assets/images/slides/movie-project-large.png'
import movieProjectMedium from '@/assets/images/slides/movie-project-medium.png'
import movieProjectSmall from '@/assets/images/slides/movie-project-small.png'
import pmLarge from '@/assets/images/slides/pm-large.png'
import pmMedium from '@/assets/images/slides/pm-medium.png'
import pmSmall from '@/assets/images/slides/pm-small.png'

export default {
    components: {
        MyCarousel,
    },
    data() {
        return {
            projects: [
                {
                    name: 'Project Motorcycle',
                    img: pmLarge,
                    srcsetSmall: `${pmSmall} 1x`,
                    srcsetMedium: `${pmMedium} 1x`,
                    srcsetLarge: `${pmLarge} 1x`,
                    slideLink: 'https://gitlab.com/superlinkx/project-motorcycle',
                    codeLink: 'https://gitlab.com/superlinkx/project-motorcycle',
                    liveLink: 'https://pm.superlinkx.dev',
                },
                {
                    name: 'My Portfolio Site',
                    img: portfolioSiteLarge,
                    srcsetSmall: `${portfolioSiteSmall} 1x`,
                    srcsetMedium: `${portfolioSiteMedium} 1x`,
                    srcsetLarge: `${portfolioSiteLarge} 1x`,
                    slideLink: 'https://gitlab.com/superlinkx/portfolio-site',
                    codeLink: 'https://gitlab.com/superlinkx/portfolio-site',
                    liveLink: 'https://superlinkx.dev',
                },
                {
                    name: 'Quickmailer',
                    img: quickmailerLarge,
                    srcsetSmall: `${quickmailerSmall} 1x`,
                    srcsetMedium: `${quickmailerMedium} 1x`,
                    srcsetLarge: `${quickmailerLarge} 1x`,
                    slideLink: 'https://github.com/superlinkx/quickmailer',
                    codeLink: 'https://github.com/superlinkx/quickmailer',
                },
                {
                    name: 'Udacity Portfolio Site',
                    img: portfolioLarge,
                    srcsetSmall: `${portfolioSmall} 1x`,
                    srcsetMedium: `${portfolioMedium} 1x`,
                    srcsetLarge: `${portfolioLarge} 1x`,
                    slideLink: 'https://github.com/superlinkx/udacity-portfolio',
                    codeLink: 'https://github.com/superlinkx/udacity-portfolio',
                },
                {
                    name: 'Movie Project (Udacity)',
                    img: movieProjectLarge,
                    srcsetSmall: `${movieProjectSmall} 1x`,
                    srcsetMedium: `${movieProjectMedium} 1x`,
                    srcsetLarge: `${movieProjectLarge} 1x`,
                    slideLink: 'https://github.com/superlinkx/udacity-movieproject',
                    codeLink: 'https://github.com/superlinkx/udacity-movieproject',
                },
            ],
        }
    },
}
</script>

<style lang="scss" scoped>
img {
    max-width: 100%;
}

li {
    list-style-image: url('/icons/prompt.png');
    & > h2 {
        margin: 0;
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
}
</style>
