<template>
    <b-container>
        <logo />
        <b-row>
            <b-col class="text-center">
                <h1 class="text-danger">Alex Holms</h1>
                <h2 class="text-warning">Full Stack Engineer</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col offset-lg="3" lg="6">
                <p class="text-center">
                    Alex Holms is a world class software engineer with over 9 years of professional experience. She
                    specializes in Restful API service engineering and SPA/SSG frontend web application development.
                    From custom small sites to enterprise-grade application solutions, she's worked on every aspect of
                    web development.
                </p>
            </b-col>
        </b-row>
        <b-row>
            <b-col offset-lg="3" lg="3" class="my-2 text-center">
                <b-button variant="secondary" size="lg" to="about">About Alex Holms</b-button>
            </b-col>
            <b-col lg="3" class="my-2 text-center">
                <b-button variant="secondary" size="lg" to="code">Alex Holms' Code</b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
    components: {
        Logo,
    },
}
</script>

<style lang="scss" scoped></style>
