/**
 * Theme Colors
 */

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #eeeeee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #bbbbbb;
$gray-600: #666666;
$gray-700: #444444;
$gray-800: #222222;
$gray-900: #212121;
$black: #000000;
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900
  ),
  ()
);

$blue: #2196f3;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e51c23;
$orange: #fd7e14;
$yellow: #ff9800;
$green: #4caf50;
$teal: #20c997;
$cyan: #9c27b0;
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800
  ),
  ()
);

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $teal;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  ()
);

$theme-color-interval: 8%;
$yiq-contrasted-threshold: 170;
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;
